@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap");

:root {
    --red: #dc3545;
    --dark-red: #920a1e;
    --text-dark: #080708;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: "Oswald", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    min-height: 100vh;
}

/* header start */
.header {
    background-image: linear-gradient(to bottom, #920a1e 0, #ac2a2aa6 50%, #d4bcb000 100%);
    backdrop-filter: blur(1px);
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 4;
}

.header-logo {
    width: 60pt;
}

.talk-to-me-btn {
    text-decoration: none;
    color: #fff;
    background-color: var(--dark-red);
    text-transform: uppercase;
    padding: 15px 44px;
    border-radius: 21px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #fff;
    letter-spacing: 1px;
    transition: .3s;
}

.talk-to-me-btn:hover {
    background-color: #4E0308;
}

/* header end */

/* section 1 start */
.sec-1 {
    background-image: url(../assets/images/foto-packs.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 545px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.title {
    font-size: 70px;
    font-weight: 700;
    margin-top: 250px;
    color: #fff;
    text-transform: uppercase;
}

.social-media {
    margin-left: auto;
    margin-right: 12%;
    margin-top: auto;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.tiktok {
    transform: scale(0.58);
}

.tiktok:hover {
    filter: invert(55%) sepia(49%) saturate(174%) brightness(74%) contrast(649%) !important;
}

.insta {
    transform: scale(0.9);
}

.insta:hover {
    filter: invert(0%);
}

.social-icon {
    width: 50px;
    filter: invert(125%) sepia(139%) saturate(08%) hue-rotate(319deg) brightness(143%) contrast(81%);
}

/* section 1 end */

/* section 2 start */
.sec-2 {
    background-color: #DFD2CD;
    padding: 0 100px;
    padding-bottom: 120px;
}

.sec-title {
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #292725;
    padding-top: 75px;
}

.packs-container {
    margin-top: 75px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh-80px);
}

.pack-card {
    width: 290px;
    border: 2px solid var(--dark-red);
    box-shadow: 0 8px 8px 0 rgb(2 25 65 / 8%);
    padding: 24px;
    height: 500px;
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(195, 8, 8, 0.84) 0, rgba(195, 8, 8, 0.27) 22.92%, rgba(217, 217, 217, 0) 50%, rgba(217, 217, 217, 0) 70.73%, rgba(217, 217, 217, 0) 80.73%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pack-title {
    font-size: 32px;
    font-weight: 500;
    color: var(--text-dark);
    text-transform: uppercase;
    line-height: 1;
}

.pack-title-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
    width: fit-content;
}

.info-icon {
    width: 16px;
    height: 16px;
}

.pack-explanation {
    position: absolute;
    background-color: #fff;
    width: 280px;
    padding: 10px 20px;
    border-radius: 10px;
    top: 100%;
    bottom: auto;
    left: -15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0;
    transition: .3s;
    z-index: 2;
    visibility: hidden;
    max-height: 125px;
    overflow: auto;
}

.info-icon:hover ~.pack-explanation {
    opacity: 1;
    visibility: visible;
}

.pack-explanation:hover {
    opacity: 1;
    visibility: visible;
}

.explanation-text {
    font-size: 14px;
}

.pack-subtitle {
    font-weight: 400;
    color: var(--text-dark);
    text-transform: uppercase;
}

.price-in-months {
    color: var(--dark-red);
    font-weight: 500;
    margin-bottom: 25px;
}

.price {
    font-size: 30px;
    text-transform: uppercase;
}

.months {
    font-size: 15px;
}

.pack-info {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.check-img {
    filter: brightness(0.5);
}

.info-text {
    color: var(--text-dark);
    font-weight: 500;
    line-height: 1.2;
    font-size: 12px;
    width: 100%;
}

select {
    outline: none;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
.slider-wrapper {
    display: flex;
    gap: 20px;
}
.switch {
    width: 38px;
    height: 21px;
    border: 2px solid var(--dark-red);
    border-radius: 28px;
    position: relative;
    background-color: rgba(8, 7, 8, 0.10);
    cursor: pointer;
}

#check {
    width: 100%;
    height: 100%;
    opacity: 0;
}
#check:checked ~ .slider{
    left: 50%;
    background-color:  #84121e;
}
:not(#check:checked) ~ .slider {
    left: 0;
}

.slider {
    background-color: #fff;
    border: 2px solid var(--dark-red);
    width: 13px;
    height: 13px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: 0.5s;
}
.slider-text {
    color: #fff;
    font-size: 14px;
} */

.total-price {
    text-align: start;
    width: 100%;
    color: #000;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
}

.start-now-btn {
    font-size: 18px;
    color: #fbfbfb;
    border: 2px solid #fbfbfb;
    background-color: transparent;
    text-transform: uppercase;
    padding: 14px 43px;
    font-weight: 600;
    border-radius: 15pt;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.start-now-btn:hover {
    background-color: #650404;
}


/* section 2 end */

@media (max-width: 768px) {
    .header {
        padding: 0 10%;
    }

    .header {
        height: 85px;
    }
    
    .header-logo {
        width: 60pt;
    }
    
    .talk-to-me-btn {
        padding: 10px 34px;
        font-size: 16px;
    }

    .sec-2 {
        padding: 0;
        padding-bottom: 120px;
    }

    .sec-title {
        font-size: 40px;
    }

    .pack-explanation {
        top: 100%;
        bottom: auto;
        left: -15px;
    }
}