:root {
    --red: #dc3545;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}
/* header start */
.header {
}

.header-logo {
    width: 53pt;
}

.talk-to-me-btn {
    text-decoration: none;
    color: #fff;
    background-color: #920A1E;
    text-transform: uppercase;
    padding: 27px 44px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
    border: 2px solid #fff;
    letter-spacing: 1px;
    transition: .3s;
}
.talk-to-me-btn:hover {
    background-color: #4E0308;
}
/* header end */